{% extends "layout.html" %} {% block content %}
<div class="row d-flex align-items-center">
  <div class="col-9">
    <div
      id="carouselExampleControls"
      class="carousel slide"
      data-bs-ride="carousel"
    >
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="/static/background.jpg" class="d-block w-100" alt="..." />
        </div>
        <div class="carousel-item">
          <img src="/static/background-2.jpg" class="d-block w-100" alt="..." />
        </div>
        <div class="carousel-item">
          <img src="/static/background.jpg" class="d-block w-100" alt="..." />
        </div>
      </div>
      <button
        class="carousel-control-prev"
        type="button"
        data-bs-target="#carouselExampleControls"
        data-bs-slide="prev"
      >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button
        class="carousel-control-next"
        type="button"
        data-bs-target="#carouselExampleControls"
        data-bs-slide="next"
      >
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
  <div class="col-3">
    <form method="POST">
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Tên đăng nhập</label>
        <input
          name="username"
          class="form-control"
          id="exampleInputEmail1"
        />
      </div>
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Mật khẩu</label>
        <input
          name="password"
          type="password"
          class="form-control"
          id="exampleInputPassword1"
        />
      </div>
      <div class="mb-3 form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1" />
        <label class="form-check-label" for="exampleCheck1"
          >Ghi nhớ tài khoản</label
        >
      </div>
      <div class="d-flex flex-column">
        <a type="submit" class="btn btn-primary mb-3" href = "/admin" >Đăng nhập</a>
        <div
          id="signupHelp"
          class="d-flex form-text mb-3 justify-content-center"
        >
          Chưa có tài khoản?
        </div>
        <a href="/register" class="btn btn-secondary">Đăng ký</a>
      </div>
    </form>
  </div>
</div>
{% endblock %}
