<link
  href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
  rel="stylesheet"
  id="bootstrap-css"
/>
<link href="../static/register.css" rel="stylesheet" />
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!--<script src="../static/register.js"></script>-->
<!------ Include the above in your HEAD tag ---------->

<link
  href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"
  rel="stylesheet"
  id="bootstrap-css"
/>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-2.1.3.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="container">
  <form class="form-horizontal" role="form" method="POST">
    <h2>Đăng ký</h2>
    {% with messages = get_flashed_messages() %} {% if messages %}
    <div class="alert alert-danger">
    {% for message in messages %} {{ message }} {% endfor %}
    </div>
    {% endif %} {% endwith %}
    <div class="mb-3">
      <label for="name" class="form-label"><b>Họ và tên</b></label>
      <input required="required" name="name" class="form-control" id="name" autofocus/>
    </div>
    <div class="mb-3">
      <label for="username" class="form-label"><b>Tên đăng nhập</b></label>
      <input
        required="required"
        name="username"
        class="form-control"
        id="username"
        autofocus
      />
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label"><b>Mật khẩu</b></label>
      <input
        required="required"
        name="password"
        type="password"
        class="form-control"
        id="exampleInputPassword1"
        autofocus
      />
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label"
        ><b>Nhập lại mật khẩu</b></label
      >
      <input
        required="required"
        name="confirmPassword"
        type="password"
        class="form-control"
        id="exampleInputPassword1"
        autofocus
      />
    </div>
    <div class="mb-3">
      <p class="form-label"><b>Giới tính</b></p>
      <input type="radio" id="male" name="gender" value="male" />
      <label for="male">Nam</label><br />
      <input type="radio" id="female" name="gender" value="female" />
      <label for="female">Nữ</label><br />
      <input type="radio" id="other" name="gender" value="other" />
      <label for="other">Khác</label>
    </div>
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label"><b>Email</b></label>
      <input
        pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"
        name="email"
        class="form-control"
        id="exampleInputEmail1"
      />
    </div>
    <div class="mb-3">
      <label for="phone" class="form-label"><b>Số điện thoại</b></label>
      <input name="phone" class="form-control" id="phone" />
    </div>
    <div class="mb-3">
      <p class="form-label"><b>Vai trò</b></p>
      <input type="radio" id="doctor" name="role" value="Bác sĩ" />
      <label for="doctor">Bác sĩ</label><br/>
      <input type="radio" id="patient" name="role" value="Bệnh nhân" />
      <label for="patient">Bệnh nhân</label>
    </div>
    <div class="mb-3">
      <label for="address" class="form-label"><b>Địa chỉ</b></label>
      <input name="address" class="form-control" id="address" />
    </div>
    <div class="mb-3">
      <label for="note" class="form-label"><b>Ghi chú</b></label>
      <input name="note" class="form-control" id="note" />
    </div>
    <button type="submit" class="btn btn-primary btn-block">Đăng ký</button>
  </form>
  <!-- /form -->
</div>
<!-- ./container -->
