{% extends "dashboard.html" %} {% block linkcss %}<link
  rel="stylesheet"
  href="../static/user_profile.css"
/>
{% endblock %} {% block nav %}
<ul class="nav flex-column">
  <li class="nav-item">
    <a class="nav-link" aria-current="page" href="/dashboard">
      <span data-feather="home"></span>
      Dashboard
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/user_profile/{{name['username']}}">
      <span data-feather="users"></span>
      Xem profile
    </a>
  </li>
  {% if name['role']=='Admin' %}
  <li class="nav-item">
    <a class="nav-link" href="/adduser">
      <span data-feather="user-plus"></span>
      Thêm người dùng
    </a>
  </li>
  {% endif %}
</ul>
<h6
  class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted"
>
  <span>Giám sát</span>
  <a class="link-secondary" href="#" aria-label="Add a new report">
    <span data-feather="plus-circle"></span>
  </a>
</h6>
<ul class="nav flex-column mb-2">
  <li class="nav-item">
    <a class="nav-link" href="/giamsat/nhiptho">
      <span data-feather="activity"></span>
      Nhịp thở
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/giamsat/tiengho">
      <span data-feather="activity"></span>
      Tiếng ho
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/giamsat/tiengwheeze">
      <span data-feather="activity"></span>
      Tiếng wheeze
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/giamsat/tiengrale">
      <span data-feather="activity"></span>
      Tiếng rale
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/giamsat/tiengngay">
      <span data-feather="activity"></span>
      Tiếng ngáy
    </a>
  </li>
</ul>
<h6
  class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted"
>
  <a style="text-decoration:none; color:blue" class="link-secondary" href="/report">
    <span>Báo cáo</span>
  </a>
</h6>

{% endblock %} {% block content %}
  <div class="d-flex flex-column pt-3 pb-2 mb-3">
    <h1 class="h2 pb-4" style="text-align:center;">THEO DÕI CÁC TRIỆU CHỨNG HÔ HẤP THỰC NGHIỆM</h1>
      <div class="row gutters-sm">
          <div class="card mb-3">
            <div class="card-body ms-2 me-2">
              {% block form %}
              {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <div class="alert alert-primary">
                      {% for message in messages %} {{ message }} {% endfor %}
                    </div>
                    {% endif %}
                {% endwith %}
              <form method="POST">
                <div class="row pb-4 d-flex align-items-center">
                  <div class="col-sm-3">
                      <h3 class="mb-0">PHẦN HÀNH CHÍNH</h3>
                  </div>
                </div>
                <div class="row pb-2 d-flex align-items-center border-bottom">
                  <div class="col-sm-3">
                    <h5>1.1 Bệnh viện</h5>
                  </div>
                  <div class="col-sm-3">Bệnh viện Lao phổi</div>
                  <div class="col-sm-1">
                    <h5>Khoa</h5>
                  </div>
                  <div class="col-sm-5">
                    <input type="text", name="department", class="border-info", value="{{user['department']}}">
                  </div>
                </div>
                <div class="row pb-2 border-bottom d-flex align-items-center pt-2">
                  <div class="col-sm-3">
                    <h5>1.2 Họ và tên bệnh nhân</h5>
                  </div>
                  <div class="col-sm-3">
                    {{user['name']}}
                  </div>
                  <div class="col-sm-1">
                    <h5>Tuổi</h5>
                  </div>
                  <div class="col-sm-4">
                    <input type="text", name="age", class="border-info", value="{{user['age']}}">
                  </div>
                </div>
                <div class="row pb-2 border-bottom d-flex align-items-center pt-2">
                  <div class="col-sm-2">
                    <h5>1.3 Giới tính</h5>
                  </div>
                  <div class="col-sm-2">
                    <input type="text", name="gender", class="border-info", value="{{user['gender']}}">
                  </div>
                  <div class="col-sm-1">
                    <h5>Dân tộc</h5>
                  </div>
                  <div class="col-sm-2">
                    <input type="text", name="ethnicGroup", class="border-info", value="{{user['ethnicGroup']}}">
                  </div>
                  <div class="col-sm-2">
                    <h5>Mã số bệnh nhân</h5>
                  </div>
                  <div class="col-sm-2">
                    <input type="text", name="id", class="border-info", value="{{user['id']}}">
                  </div>
                </div>
                <div class="row pb-2 border-bottom d-flex align-items-center pt-2">
                  <div class="col-sm-3">
                    <h5>1.4 Ngày nhập viện</h5>
                  </div>
                  <div class="col-sm-3">
                    <input type="text", name="dayPatient", class="border-info", value="{{user['dayPatient']}}">
                  </div>
                  <div class="col-sm-2">
                    <h5>Theo dõi từ ngày</h5>
                  </div>
                  <div class="col-sm-2">
                    <input type="text", name="follow", class="border-info", value="{{user['follow']}}">
                  </div>
                </div>
                <div class="row pb-4 d-flex align-items-center pt-2">
                  <div class="col-sm-3">
                    <h5>1.5 Cán bộ nghiên cứu</h5>
                  </div>
                  <div class="col-sm-3">
                    <input type="text", name="researchStaff", class="border-info", value="{{user['researchStaff']}}">
                  </div>
                </div>
                <br>
                <div class="row pb-2 d-flex align-items-center">
                  <div class="col-sm-3">
                      <h3 class="mb-0">PHẦN CHUYÊN MÔN</h3>
                  </div>
                </div>
                <div class="row pb-3d-flex align-items-center pt-3">
                  <div class="col-sm-3">
                    <h5 class="mb-0">Thử nghiệm có gắn máy</h5>
                  </div>
                </div>
                <br>
                <div class="table-responsive" style="display: inline-block; height: 300px; width: 100%; overflow-y: scroll"> 
                  <table class="table table-bordered">
                    <thead>
                      <tr>
                        <th class="col-0.6" style="position: sticky; top:0; background-color: #c6dbf0">STT</th>
                        <th class="col-1.5" style="position: sticky; top:0; background-color: #c6dbf0">Thời gian</th>
                        <th class="col-1.5" style="position: sticky; top:0; background-color: #c6dbf0">Ho</th>
                        <th style="position: sticky; top:0; background-color: #c6dbf0">Ngáy</th>
                        <th class="col-2" style="position: sticky; top:0; background-color: #c6dbf0">Nhịp thở</th>
                        <th class="col-1.5" style="position: sticky; top:0; background-color: #c6dbf0">Thở khò khè</th>
                        <th style="position: sticky; top:0; background-color: #c6dbf0">Rale</th>
                        <th style="position: sticky; top:0; background-color: #c6dbf0">Ghi chú</th>
                        <th style="position: sticky; top:0; background-color: #c6dbf0">Hành động</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for index in range(35)%}
                        <tr class="time-record" onclick="{
                          let timeRecords = document.querySelectorAll('.time-record');
                          timeRecords = [...timeRecords];
                          timeRecords.forEach((rc, i) => {
                            const btn = rc.children[8];
                            const editBtn = btn.children[0];
                            const deleteBtn = btn.children[1];
                            editBtn.addEventListener('click', () => {
                              timeRecords[i].childNodes.forEach(td => {
                                if(td.lastChild) {
                                  console.log(td.lastChild);
                                  td.lastChild.readOnly = false;
                                }
                              })
                            })
                          })
                        }">
                        <td>{{index+1}}</td>
                        <td><input type="text" value="{{user['dayResearch'][index]}}" name="dayResearch", size="15", style="border:0; width: 100%" readonly="readonly"></td>
                        <td><input type="text" value="{{user['cough'][index]}}" name="cough", size="10", style="border:0; width: 100%" readonly></td>
                        <td><input type="text" value="{{user['snore'][index]}}" name="snore", size="10", style="border:0; width: 100%" readonly></td>
                        <td><input type="text" value="{{user['breathing'][index]}}" name="breathing", size="10", style="border:0; width: 100%" readonly></td>
                        <td><input type="text" value="{{user['wheeze'][index]}}" name="wheeze", size="10", style="border:0; width: 100%" readonly></td>
                        <td><input type="text" value="{{user['rale'][index]}}" name="rale", size="10", style="border:0; width: 100%" readonly></td>
                        <td><input type="text" value="{{user['note'][index]}}" name="note", size="10", style="border:0; width: 100%" readonly></td>
                        <td>
                          <a class="mx-1" title="Sửa">
                            <span data-feather="edit"></span>
                          </a>
                          <a class="mx-3" title="Xóa">
                            <span data-feather="trash-2"></span>
                          </a>
                        </td>
                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                </div>
                <div class="d-flex w-100 justify-content-center mt-3">
                  <ul class="pagination" style="list-style: none">
                    <li class="page-item">
                      <a class="page-link" href="#" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                      </a>
                    </li>
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item">
                      <a class="page-link" href="#" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                      </a>
                    </li>
                  </ul>
                </div>
                <div
                  class="row pb-3d-flex align-items-center pt-3"
                >
                  <div class="col-sm-3">
                    <h5 class="mb-0">Thử nghiệm không gắn máy</h5>
                  </div>
                </div>
                <br/>
                <div class="table-responsive" style="display: inline-block; height: 300px; width: 100%;overflow-y: scroll"> 
                  <table class="table table-bordered">
                    <thead style="background-color: #c6dbf0;">
                      <tr>
                        <th class="col-0.6" style="position: sticky; top:0; background-color: #c6dbf0">STT</th>
                        <th class="col-1.5" style="position: sticky; top:0; background-color: #c6dbf0">Thời gian</th>
                        <th class="col-1.5" style="position: sticky; top:0; background-color: #c6dbf0">Ho</th>
                        <th style="position: sticky; top:0; background-color: #c6dbf0">Ngáy</th>
                        <th class="col-2" style="position: sticky; top:0; background-color: #c6dbf0">Nhịp thở</th>
                        <th class="col-1.5" style="position: sticky; top:0; background-color: #c6dbf0">Thở khò khè</th>
                        <th style="position: sticky; top:0; background-color: #c6dbf0">Rale</th>
                        <th style="position: sticky; top:0; background-color: #c6dbf0">Ghi chú</th>
                        <th style="position: sticky; top:0; background-color: #c6dbf0">Hành động</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for index in range(40)%}
                        <tr class="time-record" onclick="{
                          let timeRecords = document.querySelectorAll('.time-record');
                          timeRecords = [...timeRecords];
                        
                          timeRecords.forEach((rc, i) => {
                            const btn = rc.children[8];
                            const editBtn = btn.children[0];
                            const deleteBtn = btn.children[1];
                            editBtn.addEventListener('click', () => {
                              timeRecords[i].childNodes.forEach(td => {
                                if(td.lastChild) {
                                  console.log(td.lastChild);
                                  td.lastChild.readOnly = false;
                                }
                              })
                            })
                          })
                        }">
                        <td>{{index+1}}</td>
                        <td><input type="text" value="{{user['dayResearch'][index+35]}}" name="dayResearch", size="15", style="border:0; width: 100%" readonly></td>
                        <td><input type="text" value="{{user['cough'][index+35]}}" name="cough", size="10", style="border:0; width: 100%" readonly></td>
                        <td><input type="text" value="{{user['snore'][index+35]}}" name="snore", size="10", style="border:0; width: 100%" readonly></td>
                        <td><input type="text" value="{{user['breathing'][index+35]}}" name="breathing", size="10", style="border:0; width: 100%" readonly></td>
                        <td><input type="text" value="{{user['wheeze'][index+35]}}" name="wheeze", size="10", style="border:0; width: 100%" readonly></td>
                        <td><input type="text" value="{{user['rale'][index+35]}}" name="rale", size="10", style="border:0; width: 100%" readonly></td>
                        <td><input type="text" value="{{user['note'][index+35]}}" name="note", size="10", style="border:0; width: 100%" readonly></td>
                        <td>
                          <a class="mx-1" title="Sửa">
                            <span data-feather="edit"></span>
                          </a>
                          <a class="mx-3" title="Xóa">
                            <span data-feather="trash-2"></span>
                          </a>
                        </td>
                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                </div>
                <div class="d-flex w-100 justify-content-center mt-3">
                  <ul class="pagination" style="list-style: none">
                    <li class="page-item">
                      <a class="page-link" href="#" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                      </a>
                    </li>
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item">
                      <a class="page-link" href="#" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                      </a>
                    </li>
                  </ul>
                </div>
                <br/>
                <div style="text-align: center">
                  <button type="submit" class="btn btn-secondary btn-block m-2">
                    Cập nhật
                  </button>
                </div>
              </form>
            {%endblock %}
        </div>
      </div>  
    </div>  
  </div>  
{% endblock %}
