{% extends "dashboard.html" %} {% block nav %}
<ul class="nav flex-column">
  <li class="nav-item">
    <a class="nav-link" aria-current="page" href="/dashboard">
      <span data-feather="home"></span>
      Dashboard
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/user_profile/{{name['username']}}">
      <span data-feather="users"></span>
      Xem profile
    </a>
  </li>
  {% if name['role']== 'Admin' %}
  <li class="nav-item">
    <a class="nav-link" href="/adduser">
      <span data-feather="user-plus"></span>
      Thêm người dùng
    </a>
  </li>
  {% endif %}
</ul>
<h6
  class="sidebar-heading d-flex justify-content-between px-3 mt-4 mb-1 text-muted"
>
  <span>Giám sát</span>
  <a class="link-secondary" href="#" aria-label="Add a new report">
    <span data-feather="plus-circle"></span>
  </a>
</h6>
<ul class="nav flex-column mb-2">
  {% for key, value in giamsat.items() %}
  <li class="nav-item">
    {% if key == tenloaigiamsat %}
    <a class="nav-link active" href="/giamsat/{{key}}">
      <span data-feather="activity"></span>
      {{value}}
    </a>
    {% else %}
    <a class="nav-link" href="/giamsat/{{key}}">
      <span data-feather="activity"></span>
      {{value}}
    </a>
    {% endif %}
  </li>
  {% endfor %}
  <li class="nav-item">
    <a class="nav-link" href="#vandongbatthuong">
    <span data-feather="activity"></span>
    Vận động bất thường
    </a>
  </li>
</ul>
<h6
  class="sidebar-heading d-flex justify-content-between px-3 mt-4 mb-1 text-muted"
>
  <a style="text-decoration:none; color:blue" class="link-secondary" href="/report">
    <span>Báo cáo</span>
  </a>
</h6>

{% endblock %} {% block dashboard %} {% endblock %} {% block table %}
<h2 class="pb-3 mt-3">Báo cáo giám sát của bệnh nhân</h2>
<div class="table-responsive mb-3"> 
  <table id="table" class="table table-bordered table-striped table-sm">
    <thead style="background-color: #c6dbf0;">
      <tr style="pointer-events: none">
        <th class="col-0.6">STT</th>
        <th class="col-2">Mã số bệnh nhân</th>
        <th class="col-2.5">Họ và tên</th>
        <th>Giới tính</th>
        <th class="col-1.8">Khoa</th>
        <th>Ngày nhập viện</th>
        <th>Chi tiết</th>
      </tr>
    </thead>
    <div>
        <tbody>
          {% for user in users %}
            <td>{{loop.index}}</td>
            <td>{{user['id']}}</td>
            <td>{{user['name']}}</td>
            <td>{{user['gender']}}</td>
            <td>{{user['department']}}</td>
            <td>{{user['dayPatient']}}</td>
            <td>
              <div
                class="btn-group"
                role="group"
                aria-label="Basic mixed styles example"
              >
                <a type="button" class="btn btn-success btn-sm" href="/report/{{user['username']}}"
                  >Báo cáo</a
                >
              </div>
            </td>
          </tr>
          {% endfor %}
        </tbody>
    </div>
  </table>
</div>

<div style="text-align: center">
  <a type="button" class="btn btn-secondary btn-lg m-2 mb-5" href="./static/Report.xls" download>
    Xuất excel
  </a>
</div>

{% endblock %}

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
<script src="https://cdn.datatables.net/buttons/1.7.0/js/dataTables.buttons.min.js"></script>
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>

<script>
  $(document).ready(function() {
    $('#table').DataTable({
      "oLanguage": {
        "sInfo": 'Từ hàng _START_ đến hàng _END_ trên _TOTAL_ thông tin',
        "sLengthMenu": "Hiện _MENU_ hàng",
        "sSearch": "Tìm kiếm:",
        "sInfoEmpty": 'Chưa có thông tin!',
        "sEmptyTable": "Chưa có thông tin theo dõi hô hấp!",
        "oPaginate":{
          "sFirst": "Đầu",
          "sLast": "Cuối",
          "sNext": "Sau",
          "sPrevious": "Trước",
        },
      }
    });
  });
</script>
